<div>
	<div class="add_user">
		<% form_tag :action :=> :add_members %>
			<div id="row">
			<div id="column1"><%= label_tag :Project_name %></div>
			<div id="column2"><%= text_field :project_name %></div>		
			</div>
			<% @users.each do |user| %>
				<div id="row">
					<div id="column1"><%= label_tag :add_member %></div>
					<div id="column2"><%= select_tag :user_name, [user.name] %></div>
				</div>
			<% end %>
		<% end %>		
	</div>
</div>
