/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-datepicker
 *= require bootstrap
 *= require bootstrap-theme
 *= require_tree 
 *= require_self
 */ 
 
 @import bootstrap
 @import bootstrap-theme

.header {
    color: mintcream;
    background: cadetblue;
    font-size: large;
}
div#login{
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
div#left {
    width: 150px;
    float: left;
}

div#create_project{
    padding-left: 20px;
    float :right; 
    padding-top:20px;
}
div#timesheet {
    padding: 30px;
    margin: 30px;
}
div#column1 {
    width: 175px;
    padding-left: 30px;
}
div#column2 {
    padding-left: 30px;
    width: 175px;
}
div#row {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 250px;
    padding-right: 250px;
}

div#username {
    padding-left: 75px;
    padding-top: 25px;
    font-family: serif;
    width: auto;
    float: left;
    font-size: larger;
}
div#nav {
    height: 40px;
}
div#links {
    float: right;
    padding-right: 15px;
    margin-right: 10px;
}
