// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#column1 {
    float: left;
    width: 100px;
    padding-left: 20px;
}
div#column2 {
    float: left;
    padding-left: 20px;
    width: 150px;
}
div#row {
    margin-top: 20px;
    margin-bottom: 20px;
}

div#project {
    padding: 30px;
    margin: 30px;
    margin-left: 70px;
    align-self: center;
    align-content: center;
}