// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header {
    color: mintcream;
    background: cadetblue;
    font-size: large;
}

.login {
    margin-top: 10px;
    margin-bottom: 10px;
}
div#row {
    margin-top: 15px;
    margin-bottom: 15px;
}
.box {
    width: 75%;
    border: groove;
}
 p#notice{
    color: crimson;
}