// Place all the styles related to the WorkingTimes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div#timesheet {
    padding-top: 50px;
    padding-left: 40px;
    float: left;
}
div#column1 {
    float: left;
    width: 100px;
    padding-left: 20px;
}
div#column2 {
    float: left;
    padding-left: 20px;
    width: 150px;
}
div#row {
    padding-top: 20px;
    padding-bottom: 20px;
}
